<nav class="navigation left">
  <ul class="links">
    <li class="links item">
      <a href="/#open" class="link-item" title="" id="blog-button">Blog</a>
      <a href="/about/" class="link-item" title="" id="tags-button">About me</a>
    </li>
  </ul>
</nav>
